%h1 About
%p From experience Secret Santa games can be difficult to organise, especially when people are spread about and couples are involved.
%p To help make this be a bit easier I've built this application that allows you to enter all the participants and their emails and mark if they are linked to another participant.
%p Once you've done all that just hit the match button and the application will email everyone with their match. No one needs to know and you don't have to worry about anything