- if signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/group_form'
    .span6
      - if current_user.groups.any?
        %h3 
          Recent Groups
        %ul.groups
          = render @groups
- else
  .center.hero-unit
    %h1 Secret Santa
    %h2 A Secret Santa application built with groups that have couples in them in mind

    = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
